* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222030;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #97979724;
  padding: 10px 20px;
  color: #979797;
  outline: none; /* quita el contorno */
  box-shadow: none; /* elimina cualquier sombra que se genere */
  
}

.navbar-left, .navbar-center, .navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;

}

.logo {
  height: 40px;
}

a, .dropdown-btn {
  color: #979797;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
}

a:hover, .dropdown-btn:hover {
  color: white;
}

.navbar-center {
  
  flex-grow: 1;
  max-width: 700px;
  min-width: 200px;
  display: flex;
  align-items: center;
}

.navbar-center input {
width: 50%;
 margin-left: 30px;  /* margen izquierdo */
  margin-right: 30px; /* margen derecho */
  flex-grow: 1;
  min-width: 200px;
  max-width: 700px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #97979724;
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #00000043;
  min-width: 200px; /* ancho suficiente */
  box-shadow: 0 2px 5px rgba(86, 162, 91, 0.08);
  z-index: 10;
    border-radius: 12px; 
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #979797;
    border-radius: 12px; 
}

.dropdown-content a:hover {
  background-color: #333;
    border-radius: 12px; 
    color: white;
}

/* Mostrar menú al pasar el mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Ajuste específico para el menú de perfil a la derecha */
.navbar-right .dropdown-content {
  left: auto;
  right: 0; /* alinea el menú con el lado derecho del botón */
}


.navbar-center input:focus {
  outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}