


@font-face {
	font-family: 'dark-solus';
	src: url('../fonts/OptimusPrinceps.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'dark-solus';
	src: url('../fonts/OptimusPrincepsSemiBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}