@font-face {
  font-family: 'dark-solus';
  src: url('./components/fonts/OptimusPrinceps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dark-solus';
  src: url('./components/fonts/OptimusPrincepsSemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Aplicar fuente por defecto */
body {
  font-family: 'dark-solus', serif;
}
:root {

  line-height: 2;

      color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);



}


